
.pack-side-box {
  background-image: url(../../statics/Illustration-1.png) ;
  background-repeat: no-repeat;
  background-size:  contain;
  background-position:  right;
}

.pack-side-box-shadow-right {
  height: 100vh;
  background-image: url(../../statics/Base.png) ;
  background-repeat: no-repeat;
  background-size:  contain;
  background-position: left;
}
